@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    font-weight: bold;
}

td, th {
    border: 1px solid black;
    padding: 12px;
    width: 80px;
    text-align: center;
}

.gray {
    background-color: rgb(109, 109, 109);
    color: white;
}

.disciplinas {
    padding-left: 5px;
    text-align: left;
}

.media {
    text-align: left;
}
